body {
  background: linear-gradient(#33b56b,#9198e5,#33b56b)
}

img {
  opacity: 100;
}

h1{
  text-align: center;
}

.mainStuff {
  display: absolute;
  background: #fff;
  text-align: center;
  justify-content: space-evenly;
  justify-items: center;
  border-radius: 5px;
  padding: 20px 15px;
  box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  font-size: medium;
}

.btn {
  display: absolute;
  text-align: center;
  justify-items: center;
  margin: auto;
}

.result {
  text-align: center;
}

#end {
  padding-bottom: 100px;
  padding-top: 50px;
  font-weight: bold;
}

#suggestion {
  text-align: center;
  padding-bottom: 10px;
}

.float-child{
  padding-bottom: 10px;
  padding-top: 10px;
}

.translate{
  text-align: right;
}

#btn {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  margin-top: 20px;
}

.drug-info {
  font-size: large;
  margin-left: 20%;
  margin-right: 20%;
}